@model OrderEntity

<div class="row">
    <div class="col-md-4">
        <form asp-action="InitiateOrder">
            <div class="form-group">
                <label asp-for="CustomerName" class="form-control"></label>
                <input asp-for="CustomerName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="form-control"></label>
                <input asp-for="Phone" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Email" class="form-control"></label>
                <input asp-for="Email" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount" class="form-control"></label>
                <input value="1000" asp-for="TotalAmount" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Continue To Pay" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>