@model eCommerce.Models.Product

@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateProduct</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProductName" class="control-label">Add Product Name</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitPrice" class="control-label">Add Unit Price</label>
                <input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Add Description</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ManufacturingDate" class="control-label">Add Manufacturing Date</label>
                <input asp-for="ManufacturingDate" class="form-control" />
                <span asp-validation-for="ManufacturingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MadeIn" class="control-label">Add Made In</label>
                <input asp-for="MadeIn" class="form-control" />
                <span asp-validation-for="MadeIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShoeType" class="control-label">Add Shoe Type</label>
                <input asp-for="ShoeType" class="form-control" />
                <span asp-validation-for="ShoeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label">Add Gender</label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WarrantyPeriod" class="control-label">Add WarrantyPeriod</label>
                <input asp-for="WarrantyPeriod" class="form-control" />
                <span asp-validation-for="WarrantyPeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnPolicy" class="control-label">Add Return Policy</label>
                <input asp-for="ReturnPolicy" class="form-control" />
                <span asp-validation-for="ReturnPolicy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quantity" class="control-label">Add Quantity</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label">Add Discount</label>
                <input asp-for="Discount" class="form-control" />
                <span asp-validation-for="Discount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label">Add Picture</label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label">Add Category Id</label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}